{% extends 'my_blog/base.html' %}
{% load static %}


<!-- Meta Description -->
{% block meta %}
<meta name="description" content="{{post.blog_meta}}">
{% endblock meta %}

<!-- Blog Title -->
{% block title %}
<title>{{ post.title }}</title>
{% endblock title %}

<!-- Blog Content -->
{% block content %}
<main class="container text-align-center about-page">
    <br>
    <br>
    <div class="row">
      {% if header_image_bool %}
      <img src="{{ post.header_image.url }}" alt="{{ post.title }}" class="Py-Banner">
      {% else %}
      <img src="../../static/images/Novice Coder.png" alt="Python Novice Banner" class="Py-Banner">
      {% endif %}
    </div>
    <br>
    <div class="row">
    <div class="col-md-8 text-justify">
      <h1 class="blog-post-title mb-1">{{ post.title }} </h1>
      <br>
      <p class="blog-post-meta"> {{ post.blog_date }} | <em>{{ post.user_name.first_name }}</em>   {% if user == post.user_name %} <small><a class="blog-post-data" href="{% url 'update' post.pk %}">(<em>edit</em>)</a></small> / <small><a class="blog-post-data" href="{% url 'delete' post.pk %}">(<em>delete</em>)</a></small></p>{% endif %}</p>
      {% if user.is_authenticated %}
      <form action="{% url 'like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if liked %}
          <button type="submit" class="btn btn-sm" name="post_id" value="{{ post.id }}"><i style="color:red" class="fa-solid fa-heart"></i></button>
        {% else %}
          <button type="submit" class="btn btn-sm" name="post_id" value="{{ post.id }}"><i class="fa-solid fa-heart"></i></button>
        
        {% endif %}
        {% else %}
        {% endif %}
      </form>
      <p><em>{{ post.total_likes }} likes</em></p>
      {{ post.blog_content|safe }}
      <br>
      <br>
      <a href="{% url 'Home' %}">Home</a>
      <br>
      <br>
      <div class="comment section" >
        <h3>Comments</h3>
        <br>
        {% if not post.comments.all %}

        {% else %}

          {% for comment in post.comments.all %}
          <div class="container-sm rounded comment-section">
            <p style="margin-top: 5px;">
            {% if comment.user_name.userprofile.profile_picture.url %}
            <img style="margin-top: 5px;" width="75" src="{{ comment.user_name.userprofile.profile_picture.url}}" alt="Profile Picture {{ comment.user_name }}">
            {% else %}
            <img style="margin-top: 5px;" width="75" src="{% static 'my_blog/images/default-profile-picture.png' %}" alt="Profile Picture {{ comment.user_name }}"> 
            
            {% endif %}
            
            {{ comment.user_name }} | <small>{{ comment.date }}</small></p>

            
            <p>{% if user.userprofile.github_link %}<a href="{{ user.userprofile.github_link }}"><i class="fa-brands fa-github"></i></a>  |   {% endif %} 
              {% if user.userprofile.linkedin_link %}<a href="{{ user.userprofile.linkedin_link }}"><i class="fa-brands fa-linkedin"></i></a>  |   {% endif %}
              {% if user.userprofile.portfolio_link %}<a href="{{ user.userprofile.portfolio_link }}"><i class="fa-solid fa-globe"></i></a>{% endif %}</p>                     
            
              <div class="text-center">
            <p>
              {{ comment.comment }}
            </p>
          </div>
          <br>

          <div class="text-right">
            {% if comment.user_name == user %}
              <p>(<small><em><a href="{% url 'update_comment' comment.pk %}">Edit</a></em></small>)  |  (<small><em><a href="{% url 'delete_comment' comment.pk %}">Delete</a></em></small>)</p>
            {% endif %}
          </div>
          </div>
          <br>
          {% endfor %}

        {% endif %}
      </div>
        <div>
        <form action="" class="form-control" method="POST">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <button class="btn btn-sm" type="submit" name="comments">Comment</button>
        </form>
      </div>
    </div>

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 rounded">
           <div class="">
            <form class="form" id="search-bar" method="POST">
              {% csrf_token %}
              {{ form.as_table }}
                <button class="btn btn-sm btn-secondary" type="submit" name="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            </div>
    
            <br>
            <div class="row mb-2">
              <!--Start of most recent Post-->

              <div class="col">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static featurepost">
                    <p class="d-inline-block mb-2 text-black">Featured Post</p>
                    <a class="blog-post-data" href="{% url 'blogpost' post_featured.slug_post %}"><h3 class="mb-0">{{ post_featured.title }}</h3></a>
                    <div class="mb-1 text-muted">{{ post_featured.blog_date }}</div>
                    <div class="mb-1 text-muted">{{ post_featured.blog_meta|safe|slice:"100"}}...</div>
                    <br>
                    <!-- <p>Brief Description of feature post. Must be at least 100 characters. I think.</p> -->
                  </div>

                </div>
              </div>

            <div class="p-4">
              <h4 class="fst-italic">Topics</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="{% url 'search' 'Variables' %}">Variables</a></li>
                <li><a href="{% url 'search' 'Data Types' %}">Data Types</a></li>
                <li><a href="{% url 'search' 'Logic Statements' %}">Logic Statements: If, Elif and Else</a></li>
                <li><a href="{% url 'search' 'Lists' %}">Lists</a></li>
                <li><a href="{% url 'search' 'Loops' %}">Loops: For and Whiles</a></li>
                <li><a href="{% url 'search' 'Functions' %}">Functions</a></li>
                <li><a href="{% url 'search' 'Dictionaries' %}">Dictionaries</a></li>
                <li><a href="{% url 'search' 'Object Oriented Programming' %}">Object Oriented Programming (OOP)</a></li>
                <li><a href="{% url 'search' 'Libraries' %}">Libraries</a></li>
                <li><a href="{% url 'search' 'Flask' %}">Flask</a></li>
                <li><a href="{% url 'search' 'Django' %}">Django</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>

{% endblock content %}