{% extends 'my_blog/base.html' %}

{% block title %}

<title>Edit Post | Python Novice Blog</title>

{% endblock title %}

{% block meta %}

<meta name="description" content="Edit Post">

{% endblock meta %}

{% block content %}
<main class="container text-align-center">
    <br>
{% if user.is_authenticated %}

{% if user == post.user_name %}

    <h1>Edit Post</h1>

<div class="form-group">

    <form method="POST" action="">

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}

        <button class="btn btn-secondary"> Edit </button>

    </form>
</div>

{% else %}

<h1>You don't have access to edit this post.</h1>


<br><br>
<a href="{% url 'Home' %}">Home</a>

{% endif %}

{% else %}


<br>

<p class="h1">You must be logged in to create a post.</p>

<a href="{% url 'login' %}">Click here to login.</a>


{% endif %}
</main>

{% endblock content %}