{% extends 'my_blog/base.html' %}

{% block title %}

<title>{{ user }} | Python Novice Blog</title>

{% endblock title %}

{% block nav %}
  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <h1 class="blog-header-logo text-dark"><a class="blog-title" href="/">The <span style="color:  #6E85B7;">Python</span> Novice Blog</a></h1>
        </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a href="{% url 'about' %}" class="about-link">About</a>
        {% if user.is_authenticated %}
        <div class="col-8 col-lg-3 col-sm-4 col-xs-1 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
      </div>
    </header>
  </div>
{% endblock nav %}



{% block content %}
<br>
<main class="container text-align-center">
{% if user.is_authenticated %}


    <div class="row">
        <h1>Welcome, {{ user }}! </h1> <div class="position-relative end-40"><em><a href="{% url 'add_post' %}">Add Post</a></em> / <em><a href="{% url 'edit_profile' %}">Edit Profile</a></em></div>
    </div>
{% if user.userprofile.profile_picture %}
    <br>
    <br>
    <div class="row">
      <div class="col-6">
      <br>
      <div class="container rounded-circle">
      <img src="{{ user.userprofile.profile_picture.url }}" alt="Python Novice Writer">
    </div>
{% else %}
{% endif %}


{% if user.userprofile.github_link or user.userprofile.linked_link or user.userprofile.portfolio_link %}

      <br>
      {% if user.userprofile.github_link %}
      <p><i class="fa-brands fa-github"></i> {{ user.userprofile.github_link }}</p>
      <br>
      {% endif %}
      {% if user.userprofile.linkedin_link %}
      <p><i class="fa-brands fa-linkedin"></i> {{ user.userprofile.linkedin_link }}</p>
      <br>
      {% endif %}
      {% if user.userprofile.portfolio_link %}
      <p><i class="fa-solid fa-globe"></i> {{ user.userprofile.portfolio_link }}</p>
      <br>
      {% endif %}


{% endif %}

{% if user.userprofile.bio %}
    <br>
    <br>
      <h3>Bio:</h3>
      <br>
      <p>{{ user.userprofile.bio }}</p>
      <br>
<div>
  <form class="form-control" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-sm"> Save changes </button>
  </form>
</div>      
</div>
{% else %}
{% endif %}
    <br>
    <br>
        <div class="col-6">
          <h3>Liked Posts</h3>
          
          <ul>
              {% for liked_post in liked_post_all %}

              <li>"<a class="blog-post-data" href="{% url 'blogpost' liked_post.slug_post %}"><strong>{{ liked_post.title }}</a></strong>"  --  {% for topic in liked_post.topic_tag.all %}<small><em>(<a href="{% url 'search' topic|stringformat:'s' %}">{{ topic }}</a>)</em></small> {% endfor %}</li>

              {% endfor %}
          </ul>

        </div>
        <!-- <div class="col-6">
          <h3>Posts saved for later</h3>
        </div> -->
    </div>  


{% else %}

<div class="row">
  <h1>You must be logged in to view your user.</h1>
  <br>
  <a href="{% url 'login' %}">login</a>
</div>

{% endif %}

</main>


{% endblock content %}